body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(38, 38, 38);
}
header{
    background-color: rgb(42, 42, 42);
    border-bottom: solid 3px rgb(18, 252, 92);
}
.container{
    width: 80%;
    margin: auto;
}
.logo{
    width: 150px;
    padding: 5px 3px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}
a{
    color: rgb(1, 148, 55);
}